<app-nav></app-nav>
<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <h2> Add University
              <p class="lead"></p>
            </h2>
            <div class="row">
              <div class="col-sm-12">
                
              
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-0">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div>
    
  </div>
  
  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-6"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
  
              <form (ngSubmit)='add()' class="frm">
                  <p>
                    <label>University Name</label>
                    <input type="text" name="name" [(ngModel)]='uItem.name' required='required'>
                  </p>
                  <p>
                    <label> Country </label>
                    <input type="text" name="country" [(ngModel)]='uItem.country' required='required'>
                  </p>
                  <p>
                    <label>Description</label>
                    <input type="text" name="description" [(ngModel)]='uItem.description' required='required'>
                  </p>
                  <p>
                    <label> Exam </label>
                    <input type="text" name="exam" [(ngModel)]='uItem.exam' required='required'>
                  </p>
                  <p>
                    <label> Courses </label>
                    <input type="text" name="courses" [(ngModel)]='uItem.courses' required='required'>
                  </p>

                  <p>
                      <input type="submit" value="Submit">
                      </p>
              
              
            
           
          
            
          <!-- </div> -->
        <!-- </div> -->
                                                                                         
                                                      
                                                        
         <!-- </div>
    </div>
  </div> -->
                                                  
                                                                                  
  <hr>
 
  