<header>exam</header>

<div id="ex">
    <h1>International Entrance Exams to Study Overseas</h1>
    <br>
</div>
<div class="row">
    <div class="col-md-4">
       <div class="column">
      <div class="col-mg">
        <h3><u>TOFEL AND IELTS</u></h3>
        <p>
            The Test of English as a Foreign Language (TOEFL) and the International English Language Testing System (IELTS) probably top the list with regard to the sheer number of students across the world needing to undertake one or the other to demonstrate English language proficiency. The widest possible selection of universities and colleges accept TOEFL scores, including the top 100 in the UK, US, Canada, Australia and New Zealand. The IELTS is a mandatory exam for Indian and other non-native English speakers, especially in the Commonwealth countries, for entry into most reputed universities and colleges overseas, and occasionally for immigration requirements as well. The IELTS, conducted by the British Council, is held in 71 centres spread all over the country, over four times a month.



        </p>
      </div>
      <br><br>
      <div class="col-mg">
        <h3><u>GRE</u></h3>
        <p>
            The Graduate Record Examination (GRE) is another popular examination among Indian students aspiring to study in the US or Canada. It is a fairly standardized test that measures the verbal, mathematical and general analytical skills of the candidate, though the format has undergone quite a few changes over the years. It is an admission requirement for many graduate courses, especially in engineering and the sciences, in the US.

For more information on GRE, visit GRE


        </p>
      </div>
       </div>

    </div>
    <div class="col-md-4">
        <div>
            <ol>
                <li>TOEFL AND IELTS</li>
                <li>GRE</li>
                <li>GMAT</li>
                <li>SAT</li>
            </ol>
        </div>
        <div class="xx">
            
        </div>
       

    </div>
    <div class="col-md-4">
        <div class="column">
            <div class="col-mg">
              <h3><u>GMAT</u></h3>
              <p>
                Management aspirants need to take the Graduate Management Admission Test (GMAT), which is an admissions assessment for business colleges. Average GMAT scores are in the range of 570-580. However, for top school admissions a score of at least 700 is almost mandatory. New sections have been introduced recently, such as Integrated Reasoning, which have made the test more competitive than before. GMAT test is available throughout the world in more than 500 locations. The slots have to be booked in advance.

                For more information on GMAT, visit GMAT
      
      
              </p>
            </div>
            <br><br>
            <div class="col-mg">
              <h3><u>SAT</u></h3>
              <p>
                The Scholastic Aptitude Test (SAT) test, required for entry into some universities in US, if a person has not completed an equivalent,  is of two types -  the Reasoning Test to check the general writing skills and grammar and the Subject Test to check a candidate's knowledge in the subject chosen. The SAT is owned, developed and conducted by the College Board of the United States of America. Within the USA, the SAT is offered seven times a year, generally on the first Saturdays of October, November, December, January, March, May and June.  Most other countries follow the same dates. Subject tests are offered in areas like Literature, History, Mathematics, Sciences and Foreign Languages.

                
      
              </p>
            </div>
             </div>
      
          </div>
    </div>
