<p>resume works!</p>
<H1>Sample Resume</H1>
<div class="row">
    <div class="col-md-4">
        <div>
            <img src="/assets/images/rs1.jpg">
        </div>
        <br>
        <div>
            <img src="/assets/images/r8.jpg">
        </div>
    </div>
    <div class="col-md-4">
        
        <br>
        <div>
            <img src="/assets/images/rs9.jpg">
        </div>
        <br>
        <div>
            <img src="/assets/images/rs5.jpg">
        </div>
    </div>

    <div class="col-md-4">
        <div>
            <img src="/assets/images/r6.jpg">
        </div>
        <br>
        <div>
            <img src="/assets/images/r7.jpg">
        </div>
    </div>


</div>