<p>home works!</p>

<app-nav></app-nav>

<div id="pages">
    <div id="header">
        <div id="sidebar">
            
            <div id="navigation">
               
            </div>
        </div>
        <div id="adbox">
            
            <div class="frame">
                <div class="section">
                    <h1>
                        Where will your studies take you?
                    </h1>
                </div>
                <div class="section">
                  
                    <p>
                        Every year, our search engine helps over 7 million students find, compare, and connect with some of the best universities and schools around the world. Start your search today!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="contents">
        <div id="articles">
            <div>
                <div class="frame">
                    
                    <h2><a routerLink='/exam'> International Entrance Exams to Study Overseas  </a></h2>
                   
                    
                </div>
                <div class="frame">
                    
                    <h2><a routerLink='/university'> Top Universities in the World  </a></h2>
                   
                    
                </div>
                <div id="featured">
                    <ul>
                        <li>
                            <a href="index.html"> <img src="/assets/images/guide.png" alt="Img">
                            <h3>Visa&Travel advice</h3>
                            </a>
                        </li>
                        <li>
                            <a href="index.html"> <img src="/assets/images/ab.png" alt="Img">
                            <h3>Application guidance</h3>
                            </a>
                        </li>
                        <li>
                            <a href="index.html"> <img src="/assets/images/bf.png" alt="Img">
                            <h3>How to study abroad</h3>
                            </a>
                        </li>
                        <li>
                            <a href="index.html"> <img src="/assets/images/ab.png" alt="Img">
                            <h3>GoAbroad</h3>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="dummy">
        </div>
    </div>
  
            <div class="footer">
                <div id="connect">
                    <a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a> <a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a> <a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a> <a href="http://freewebsitetemplates.com/go/vimeo/" target="_blank" class="vimeo"></a>
                </div>
                <p>
                   
                </p>
            </div>
        </div>
        
